<div class="container">
  <div class="row">
    <div
      class="col-lg-12 m-auto text-center"
      style="background-color: white"
      *ngIf="product === undefined"
    >
      <h1 class="display-1 text-bolder text-black">Error 404</h1>
      <h2 class="text-black">Erm. Product not found</h2>
      <p class="lead text-black">
        We suggest you to go to the homepage while we solve this issue.
      </p>
      <button
        type="button"
        class="btn bg-gradient-primary mt-4"
        routerLink="/product"
      >
        Go to Products Page
      </button>
    </div>
    <div class="col-md-12" *ngIf="product !== undefined">
      <div class="card">
        <div class="section my-4 my-lg-5">
          <div class="container">
            <div class="row flex-row">
              <div class="col-lg-5">
                <img
                  class="w-80 border-radius-lg ms-2"
                  src="{{ selectedImage }}"
                  alt="ladydady"
                  loading="lazy"
                />
                <div
                  class="my-gallery d-flex mt-4 pt-2"
                  itemscope=""
                  itemtype="http://schema.org/ImageGallery"
                  data-pswp-uid="1"
                >
                  <figure *ngFor="let image of images; let i = index">
                    <a
                      style="cursor: pointer"
                      (click)="selectImage(i)"
                      data-size="500x600"
                    >
                      <img
                        class="
                          w-100
                          min-height-100
                          max-height-100
                          border-radius-lg
                        "
                        src="{{ image }}"
                        alt="Image description"
                        loading="lazy"
                      />
                    </a>
                  </figure>
                  <!-- <figure
                    class="ms-3"
                    itemprop="associatedMedia"
                    itemscope=""
                    itemtype="http://schema.org/ImageObject"
                  >
                    <a
                      href="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product1.jpg"
                      itemprop="contentUrl"
                      data-size="500x600"
                    >
                      <img
                        class="
                          w-100
                          min-height-100
                          max-height-100
                          border-radius-lg
                        "
                        src="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product1.jpg"
                        itemprop="thumbnail"
                        alt="Image description"
                        loading="lazy"
                      />
                    </a>
                  </figure>
                  <figure
                    class="ms-3"
                    itemprop="associatedMedia"
                    itemscope=""
                    itemtype="http://schema.org/ImageObject"
                  >
                    <a
                      href="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product4.jpg"
                      itemprop="contentUrl"
                      data-size="500x600"
                    >
                      <img
                        class="
                          w-100
                          min-height-100
                          max-height-100
                          border-radius-lg
                        "
                        src="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product4.jpg"
                        itemprop="thumbnail"
                        alt="Image description"
                        loading="lazy"
                      />
                    </a>
                  </figure>
                  <figure
                    class="ms-3"
                    itemprop="associatedMedia"
                    itemscope=""
                    itemtype="http://schema.org/ImageObject"
                  >
                    <a
                      href="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product2.png"
                      itemprop="contentUrl"
                      data-size="500x600"
                    >
                      <img
                        class="
                          w-100
                          min-height-100
                          max-height-100
                          border-radius-lg
                        "
                        src="https://demos.creative-tim.com/material-kit-pro/assets/img/examples/product2.png"
                        itemprop="thumbnail"
                        alt="Image description"
                        loading="lazy"
                      />
                    </a>
                  </figure> -->
                </div>
                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                <div
                  class="pswp"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true"
                >
                  <!-- Background of PhotoSwipe.
            It's a separate element, as animating opacity is faster than rgba(). -->
                  <div class="pswp__bg"></div>
                  <!-- Slides wrapper with overflow:hidden. -->
                  <div class="pswp__scroll-wrap">
                    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                    <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                    </div>
                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">
                      <div
                        class="
                          pswp__share-modal
                          pswp__share-modal--hidden
                          pswp__single-tap
                        "
                      >
                        <div class="pswp__share-tooltip"></div>
                      </div>
                      <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div>
                  <h3 class="mt-lg-0 mt-4">{{ product.title }}</h3>
                  <span class="badge badge-success">{{ product.inStock }}</span>
                  <h6 class="mb-0 mt-2">Price</h6>
                  <h5>{{ product.Price }}</h5>
                  <div class="accordion" id="accordionProduct">
                    <div class="accordion-item mb-1">
                      <h6 class="accordion-header" id="headingOne">
                        <button
                          class="
                            accordion-button
                            border-bottom
                            font-weight-bold
                            text-start
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Description
                          <i
                            class="
                              collapse-close
                              fa fa-plus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                          <i
                            class="
                              collapse-open
                              fa fa-minus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                        </button>
                      </h6>
                      <div
                        id="collapseOne"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingOne"
                        data-bs-parent="#accordionProduct"
                        style=""
                      >
                        <div class="accordion-body text-sm opacity-8">
                          {{ product.description }}
                        </div>
                      </div>
                    </div>
                    <!-- <div class="accordion-item mb-1">
                      <h6 class="accordion-header" id="headingTwo">
                        <button
                          class="
                            accordion-button
                            border-bottom
                            font-weight-bold
                            text-start
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Designer Information
                          <i
                            class="
                              collapse-close
                              fa fa-plus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                          <i
                            class="
                              collapse-open
                              fa fa-minus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                        </button>
                      </h6>
                      <div
                        id="collapseTwo"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingTwo"
                        data-bs-parent="#accordionProduct"
                        style=""
                      >
                        <div class="accordion-body text-sm opacity-8">
                          An infusion of West Coast cool and New York attitude,
                          Rebecca Minkoff is synonymous with It girl style.
                          Minkoff burst on the fashion scene with her
                          best-selling 'Morning After Bag' and later expanded
                          her offering with the Rebecca Minkoff Collection - a
                          range of luxe city staples with a "downtown romantic"
                          theme.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-1">
                      <h6 class="accordion-header" id="headingThree">
                        <button
                          class="
                            accordion-button
                            border-bottom
                            font-weight-bold
                            text-start
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Details and Care
                          <i
                            class="
                              collapse-close
                              fa fa-plus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                          <i
                            class="
                              collapse-open
                              fa fa-minus
                              text-xs
                              pt-1
                              position-absolute
                              end-0
                            "
                            aria-hidden="true"
                          ></i>
                        </button>
                      </h6>
                      <div
                        id="collapseThree"
                        class="accordion-collapse collapse show"
                        aria-labelledby="headingThree"
                        data-bs-parent="#accordionProduct"
                        style=""
                      >
                        <div class="accordion-body text-sm opacity-8">
                          <ul>
                            <li>
                              Storm and midnight-blue stretch cotton-blend
                            </li>
                            <li>
                              Notch lapels, functioning buttoned cuffs, two
                              front flap pockets, single vent, internal pocket
                            </li>
                            <li>Two button fastening</li>
                            <li>84% cotton, 14% nylon, 2% elastane</li>
                            <li>Dry clean</li>
                          </ul>
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <div class="row mt-4">
                    <div class="col-lg-4 ms-auto">
                      <button
                        class="btn bg-gradient-primary mb-0 mt-lg-auto w-100"
                        type="button"
                        name="button"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
